{% load i18n admin_static %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" />
<style>
  .dynamic-raw-id-filter input {
    width: 100%;
    box-sizing: border-box;
  }
  #changelist-filter .dynamic-raw-id-filter a {
    display: inline;
  }
</style>
<form method="GET" action="">
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {{ spec.form.media }}
  <div class="dynamic-raw-id-filter">
      {{ spec.form.as_p }}
  </div>
  <p><input type="submit" value="{% trans "Search" %}"></p>
</form>
