[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

selenium = "*"
ipdb = "*"
coverage = "*"
"e1839a8" = {path = ".", editable = true}


[packages]

django = ">=1.8"
six = "*"
