[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

selenium = "*"
ipdb = "*"
coverage = "*"


[packages]

django = "*"
six = "*"
"e1839a8" = {path = ".", extras = ["tests"], editable = true}
