{% comment %}
  Django 1.11 template based widget
{% endcomment %}
{% load static from staticfiles %}

{% include 'django/forms/widgets/input.html' %}

<a href="{{ related_url }}{{ url }}" data-name="{{ name }}" data-app="{{ app_name }}" data-model="{{ model_name }}" class="dynamic_raw_id-related-lookup" id="lookup_id_{{ name }}" >
    <img src="{% static "dynamic_raw_id/img/icon-lookup.gif" %}" alt="Lookup" height="16" width="16">
</a>
<a data-name="developers" data-app="{{ app_name }}" data-model="{{ model_name }}" class="dynamic_raw_id-clear-field">
    <img src="{% static "dynamic_raw_id/img/icon-clear.gif" %}" alt="Clear" height="10" width="10">
</a>
<span class="dynamic_raw_id_label" id="{{ name }}_dynamic_raw_id_label"></span>
